@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat:200|Raleway:300|Roboto:100|Fjalla+One|Work+Sans:200|Open+Sans+Condensed:700|Open+Sans:400');

*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #333;
    
}
h1        {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.navegacion    {
    width: 100%;
    margin: 30px auto;
    font-size: 20px
}

.navegacion .navegacion_active{
    color: #fff;
}
.navegacion ul    {
    list-style: none;
    text-align: center;
    
}

.menu > li     {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.menu li a    {
    display: block;
    color: rgba(255,255,255,0.2);
    padding: 15px 20px;
    font-size: 23px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: 4px underline ;
    letter-spacing:1px;
    
    
}

.menu li a:hover    {
    color: #fff;
    transition: all .5s;
}

