#post_banner_text    {
    font-size: 30px;
}
.mt-0 {
  margin-top: 25px !important;
}

#pre_combis     {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

body     {
    background-color: #eceff1;
}

#todo    {
       background-color: #eceff1;
}

#cont_combis    {
    background-color: #eceff1 !important;
}

#cont_combis_in     {
     background-color: #eceff1;
}
#cont_banner    {
    margin-top: 40px !important;
}

#mini_banner     {
    width: 100%;
    margin-left: auto;
}

#minibanner    {
    width: 100%
}

#sel_text     {
    background: #eceff1 !important;
    background-color: #eceff1 !important;
}

#sel_text_in     {
    background: #eceff1 !important;
    background-color: #eceff1 !important;
    margin-bottom: -100px;
}

#pre_sel_text    {
    background-color: #eceff1 !important;
    
}

#cont_opciones{
    background-image: url("../../img/30.jpg");
}


#img_t_shirt    {
    margin-top: 40px !important;
}


.texto_under_foto    {
    text-decoration: none;
    color: #eceff1;
}

.texto_under_foto:hover    {
    text-decoration: underline white;
}


#cont_nav    {
    background-color: #eceff1;
    background: #eceff1;
}

/*footer*/
.col_white_amrc { color:#eceff1;}
footer { width:100%; background-color:#eceff1; min-height:100px; padding:10px 0px 25px 0px ;}

.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:black; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}