body     {
    background-color: #eceff1;
    background: #eceff1;
}
#todo    {
    background-color: #eceff1;
    background: #eceff1;
}

#full     {
    background-color: #eceff1;
    background: #eceff1;
}


#cont_nav    {
    background-color: #eceff1;
    background: #eceff1;
}

#menu_izq    {
    margin-top: 30px;
}


#text_precio     {
    margin-top: -10px;
}

#activo     {
    color: #38383a;
}