@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat:200|Raleway:300|Roboto:100|Work+Sans:200|Open+Sans');
/*
body{
    margin :0;
    padding: 0;
    background: url(../../img/18.jpeg) no-repeat center top;
    background-size: cover; 
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    transform: translateY(-30%);
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input{
    width : 100%;
    margin-bottom: 20px;
    
}


.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px; 
    
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}


.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.login-box input[type="submit"]:hover{
    background: #6b6b6b;
    color: #fff;
}

.login-box input[type="text"]:focus{
    background: rgba(275, 275, 275, 0.4);
    color: #000;
}

.login-box a:hover{
    color: #fff;
    
}
*/

html,
body {
  height: 100%;
}

#todo    {
    background: #eceff1;
    background-color: #eceff1;
}

#contenedor_form    {
    background: white;
    background-color: white;
    box-shadow: 4px 4px 4px #dfe2e3;
    border-radius: 5px;
}

#boton    {
    background-color: #485e69;
}

#boton:hover    {
    background-color: #637883; 
}


#titulo_form    {
    margin-bottom: 30px;
}

#sub_text    {
    margin-top: 100px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
    margin-top: 50px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#id_footer    {
    margin-left: 30px;
}

.social_footer_ul { display:flex; margin:20px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}