@import url(../css_menu_Inicio/menuDeInicio.css);

.contenedor {
    width: 82%;
    height: 80%;
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
}

.form_izq    {
    width: 40%;
    height: 120%;
    color: #fff;
    display: inline-block;
    position: relative;
    transform: translate(-0%, -54%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.form_der    {
    width: 40%;
    height: 120%;
    color: #fff;
    display: inline-block;
    position: relative;
    transform: translate(50%, -13%);
    box-sizing: border-box;
    padding: 20px 30px;
    border-radius: 10px;
}


input   {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 0px solid black;
    
}

.texto    {
    font-family: 'Open Sans:400', sans-serif;

}


.input-48   {
    width: 48%;
}

.input-100   {
    width: 100%;
}


.boton {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color: black;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#a0a1a4;
    border-radius: 30px;
    font-family: 'Open Sans:400', sans-serif;
    margin-left: -70px;
}

.boton:hover    {
    color: white;
    background-color:#737373;
}
